---
pageKey: productDetail
rootPath: "../../"
sectionPath: "../../"
productSlug: "creator-streaming-tools"
---
{% set product = productDetails[productSlug] %}
{% include "partials/product-detail.njk" %}
